<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  
  <body>
    <div class="infoHeader">
      <h1>Food diary</h1>
      <div>{{ .Date}}</div>
    </div>

    <div class="choiceDate">

    </div>

    <div class="totalSum">
      <div>Total Sum:</div>
      <table width="20%" cellpadding="5">
        <tbody>
          <tr>
            <td>Fats</td>
            <td>Carbs</td>
            <td>Prots</td>
            <td>Cals</td>
          </tr>
          <tr style="height:2px"><td></td></tr>
          <tr>
            <td>{{ .Total.Fats}}</td>
            <td>{{ .Total.Carbohydrates}}</td>
            <td>{{ .Total.Proteins}}</td>
            <td>{{ .Total.Calories}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="breakfastTable">
      <tbody>
      
        <tr>
          <table class="breakfastTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Breakfast</td>
                <td>{{ .Breakfast.CalcMeal.Fats}}</td>
                <td>{{ .Breakfast.CalcMeal.Carbohydrates}}</td>
                <td>{{ .Breakfast.CalcMeal.Proteins}}</td>
                <td>{{ .Breakfast.CalcMeal.Calories}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>
        
        {{range .Breakfast.Portions}}
          {{block "portion" .}}{{end}}
        {{end}}
        
        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToBreakfast">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="lunchTable">
      <tbody>
      
        <tr>
          <table class="lunchTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Lunch</td>
                <td>{{ .Lunch.CalcMeal.Fats}}</td>
                <td>{{ .Lunch.CalcMeal.Carbohydrates}}</td>
                <td>{{ .Lunch.CalcMeal.Proteins}}</td>
                <td>{{ .Lunch.CalcMeal.Calories}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>

        {{range .Lunch.Portions}}
          {{block "portion" .}}{{end}}
        {{end}}

        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToLunch">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="dinnerTable">
      <tbody>
      
        <tr>
          <table class="dinnerTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Dinner</td>
                <td>{{ .Dinner.CalcMeal.Fats}}</td>
                <td>{{ .Dinner.CalcMeal.Carbohydrates}}</td>
                <td>{{ .Dinner.CalcMeal.Proteins}}</td>
                <td>{{ .Dinner.CalcMeal.Calories}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>
          {{range .Dinner.Portions}}
            {{block "portion" .}}{{end}}
          {{end}}

        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToDinnerfast">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="snacksTable">
      <tbody>
      
        <tr>
          <table class="snacksTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Snacks</td>
                <td>{{ .Snacks.CalcMeal.Fats}}</td>
                <td>{{ .Snacks.CalcMeal.Carbohydrates}}</td>
                <td>{{ .Snacks.CalcMeal.Proteins}}</td>
                <td>{{ .Snacks.CalcMeal.Calories}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>

        {{range .Snacks.Portions}}
          {{block "portion" .}}{{end}}
        {{end}}
      
        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToSnacks">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

  </body>
</html>