<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  
  <body>
    <div class="infoHeader">
      <h1>Food diary</h1>
      <div>{{ .Date}}</div>
    </div>

    <div class="choiceDate">

    </div>

    <div class="totalSum">
      <div>Total Sum:</div>
      <table>
        <tbody>
          <tr>
            <td>Fat</td>
            <td>Carbs</td>
            <td>Prot</td>
            <td>Cals</td>
          </tr>
          <tr style="height:2px"><td></td></tr>
          <tr>
            <td>{{ .TotalFats}}</td>
            <td>{{ .TotalCarbs}}</td>
            <td>{{ .TotalProts}}</td>
            <td>{{ .TotalCals}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="breakfastTable">
      <tbody>
      
        <tr>
          <table class="breakfastTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Breakfast</td>
                <td>{{ .Breakfast.TotalFats}}</td>
                <td>{{ .Breakfast.TotalCarbs}}</td>
                <td>{{ .Breakfast.TotalProts}}</td>
                <td>{{ .Breakfast.TotalCals}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>

        {{range .Breakfast.Items}}
          {{block "item" .}}{{end}}
        {{end}}
        
        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToBreakfast">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="lunchTable">
      <tbody>
      
        <tr>
          <table class="lunchTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Lunch</td>
                <td>{{ .Lunch.TotalFats}}</td>
                <td>{{ .Lunch.TotalCarbs}}</td>
                <td>{{ .Lunch.TotalProts}}</td>
                <td>{{ .Lunch.TotalCals}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>

        {{range .Lunch.Items}}
          {{block "item" .}}{{end}}
        {{end}}

        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToLunch">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="dinnerTable">
      <tbody>
      
        <tr>
          <table class="dinnerTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Dinner</td>
                <td>{{ .Dinner.TotalFats}}</td>
                <td>{{ .Dinner.TotalCarbs}}</td>
                <td>{{ .Dinner.TotalProts}}</td>
                <td>{{ .Dinner.TotalCals}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>
          {{range .Dinner.Items}}
            {{block "item" .}}{{end}}
          {{end}}

        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToDinnerfast">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

    <table class="snacksTable">
      <tbody>
      
        <tr>
          <table class="snacksTotalInfo">
            <tbody>
              <tr>
                <td width="*" style="font-weight:bold;font-size:16px;padding-left:2px">Snacks</td>
                <td>{{ .Snacks.TotalFats}}</td>
                <td>{{ .Snacks.TotalCarbs}}</td>
                <td>{{ .Snacks.TotalProts}}</td>
                <td>{{ .Snacks.TotalCals}}</td>
              </tr>
            </tbody>
          </table>
        </tr>
        
        <tr>
          <td style="height:7px"></td>
        </tr>

        {{range .Snacks.Items}}
          {{block "item" .}}{{end}}
        {{end}}
      
        <tr>
          {{if .IsLogin}}
            <div>
              <form method="POST">     
                  <button name="button" value="addToSnacks">Add Item</button>
              </form>
            </div>
          {{end}}
        </tr>
      </tbody>
    </table>

  </body>
</html>