.infoHeader{
    // border: dashed 1px black;
    width: 60%;
    height: 10vh;
    margin: 5% auto 0 auto;

    display: grid;
    align-items: center;

    h{
        font-size: $font-size-large;
        font-weight: 600;
        color: $color-but;
    }
}