.totalSum{
    border: solid 1px $color-gray;
    width: 60%;
    height: 10vh;
    margin: 0 auto 5vh auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    >h{
        display: grid;
        align-items: center;
        font-size: $font-size-medium;
        margin-left: 20px;
    }

    >div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;

        h{
            font-size: $font-size-small;
        }

        div{
            display: grid;
            justify-content: center;
            margin-top: 10px;
        }
    }
}